* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-image: url("https://i.ibb.co/3SSwhs9/brown-texture.jpg");
  background-attachment: fixed; }

header {
  position: fixed;
  z-index: 2;
  top: -360px;
  padding-top: 360px;
  display: flex;
  width: 100%;
  margin: 0 auto;
  height: 600px;
  background-image: url("https://i.ibb.co/ckrVZrb/pngwing-com-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden; }

.Contenedor-logo {
  width: 100%;
  height: 30px; }

.Logo {
  width: 200px;
  margin: 15px 0 0 15px;
  box-shadow: 0px 0px 10px #000000;
  border-radius: 5px; }

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  height: 72px;
  justify-content: end; }

#check {
  display: none; }

.bar-btn {
  font-size: 5rem;
  margin-top: -10px;
  margin-right: 30px; }

.input__nav:checked + .contendero-elementosnav {
  right: 0; }

.contendero-elementosnav {
  height: 50px;
  width: 100%;
  background-color: #eed5b6;
  position: absolute;
  top: 430px;
  right: -600px;
  transition: all 0.5s;
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000; }

.nav__item {
  color: #000000;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.5s; }
  .nav__item a {
    font-size: 1rem;
    color: #000000;
    text-decoration: none;
    margin-left: 5px;
    font-family: 'Special Elite', cursive; }

.solapa {
  position: absolute;
  right: 0;
  top: 430px;
  width: 10px;
  height: 50px;
  background-color: red;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000; }

.solapita {
  position: relative;
  left: 0;
  width: 10px;
  height: 100%;
  background-color: red; }

@font-face {
  font-family: 'Playlist';
  src: url("../static/fuentes/Playlist Script.otf");
  font-style: normal;
  font-weight: normal; }

.container {
  max-width: 827px; }

.carousel-contenedor {
  padding-top: 150px;
  background-color: #9ac8bd;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4fr;
  grid-auto-rows: auto;
  align-items: center;
  justify-items: center;
  box-shadow: 5px 0px 15px #000;
  padding-bottom: 150px; }

h1 {
  font-size: 4rem;
  font-family: 'Playlist', sans-serif;
  font-weight: normal;
  text-shadow: 2px 2px 2px white; }

h2 {
  font-family: 'Special Elite', cursive;
  font-size: 2rem;
  margin-bottom: -10px;
  text-shadow: 2px 2px 2px white; }

.tituloDeLaPagina {
  width: 100%;
  text-align: center;
  padding-top: 50px; }

.main-art {
  width: 90%;
  padding: 0px;
  margin: 170px auto 50px auto;
  overflow: hidden; }

.polaroid {
  background: #fff;
  padding: 10px;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
  width: 100%; }
  .polaroid img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%; }

.texto {
  font-size: 1.2rem;
  text-align: center;
  font-family: 'Special Elite', cursive;
  margin-top: 10px; }

.item {
  width: 100%;
  display: inline; }

.main-contacto {
  margin-bottom: 90px; }

.contenedor-formulario {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
  background-color: #9dcbc0;
  box-shadow: 0 2px 10px black; }
  .contenedor-formulario form {
    width: 100%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .contenedor-formulario label {
    font-size: 2rem;
    text-shadow: 0 0 2px white;
    font-family: 'Special Elite', cursive;
    margin-bottom: 5px;
    text-decoration: underline; }
  .contenedor-formulario div {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px; }
  .contenedor-formulario input {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.4rem;
    box-shadow: 0 2px 10px black;
    font-family: 'Special Elite', cursive; }
  .contenedor-formulario textarea {
    width: 100%;
    height: 13rem;
    border-radius: 5px;
    border: 1px solid black;
    font-size: 1.2rem;
    box-shadow: 0 2px 10px black;
    font-family: 'Special Elite', cursive; }

#boton {
  width: 200px;
  height: 40px;
  background-color: #eed5b6;
  color: black;
  font-family: 'Special Elite', cursive;
  border: 1px solid black;
  font-size: 15px;
  margin: 0;
  box-shadow: 0 2px 10px black; }

.main-sobreNosotros {
  width: 98%;
  margin: 170px auto;
  box-shadow: 0px 10px 10px #000000;
  display: grid;
  grid-template-rows: auto auto;
  padding: 10px;
  background-color: #eed5b6;
  font-family: 'Special Elite', cursive; }
  .main-sobreNosotros p {
    font-size: 1.8rem;
    padding: 20px 10px 10px 10px; }

.sobreNosotros-Titulo {
  font-size: 3rem; }

.firma {
  text-align: right;
  font-size: 1.8rem;
  margin-top: 25px; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  border-top: 1px solid black; }

.contenedor-footer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #9dcbc0; }
  .contenedor-footer img {
    width: 25px;
    margin-left: 5px; }
  .contenedor-footer ul {
    list-style: none;
    margin: 3px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center; }
  .contenedor-footer p {
    font-size: 0.85rem;
    font-family: 'Special Elite', cursive;
    color: black;
    width: auto;
    margin: 10px 0 0 0; }

@media (min-width: 480px) {
  .contendero-elementosnav {
    width: 70%;
    transition: all 1s; }
  .Logo {
    width: 210px;
    margin: 15px 0 0 15px;
    box-shadow: 0px 0px 10px #000000;
    border-radius: 5px; }
  .bar-btn {
    margin-right: 60px; }
  .contenedor-footer {
    justify-content: space-around; }
    .contenedor-footer p {
      font-size: 1.2rem; }
    .contenedor-footer img {
      width: 35px;
      margin-left: 5px; }
  h1 {
    font-size: 5rem; }
  h2 {
    font-size: 3rem; }
  .main-art {
    width: 80%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center; }
  .item {
    width: 80%; }
  .contenedor-formulario form {
    width: 80%; }
  .contenedor-formulario div {
    width: 100%; }
  .contenedor-formulario input {
    width: 100%; }
  .main-sobreNosotros {
    width: 80%; } }

@media (min-width: 770px) {
  .contendero-elementosnav {
    width: 50%; }
  .Logo {
    width: 300px; }
  .bar-btn {
    margin-right: 80px; }
  .contenedor-footer {
    justify-content: center; }
    .contenedor-footer p {
      font-size: 1.5rem;
      margin-right: 15px; }
    .contenedor-footer img {
      width: 35px;
      margin-left: 5px; }
  h1 {
    font-size: 6rem; }
  h2 {
    font-size: 4rem; }
  .main-art {
    width: 75%;
    justify-content: center; }
  .item {
    width: 40%;
    margin: 0 5px; }
  .contenedor-formulario {
    width: 80%;
    margin: 0 auto; }
    .contenedor-formulario form {
      width: 60%; }
  .main-sobreNosotros {
    width: 60%;
    margin-top: 200px; }
    .main-sobreNosotros p {
      font-size: 2rem; } }

@media (min-width: 1024px) {
  header {
    width: 80%;
    left: 0;
    right: 0;
    top: -300px;
    padding-top: 300px; }
  .contendero-elementosnav {
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    border: none;
    justify-content: right;
    transition: none;
    margin: 18px 15px 0 0;
    background: none; }
  .nav__item a {
    font-size: 1.8rem; }
  .solapa {
    display: none; }
  .solapita {
    display: none; }
  .bar-btn {
    display: none; }
  h1 {
    font-size: 10rem; }
  h2 {
    font-size: 4rem; }
  .carousel-contenedor {
    padding-top: 200px;
    width: 60%;
    margin: 0 auto; }
  .contenedor-formulario {
    width: 80%;
    margin: 150px auto; } }

@media (min-width: 1280px) {
  header {
    top: -320px;
    padding-top: 320px; }
  .contendero-elementosnav {
    margin: 15px 80px 0 0; }
  .Contenedor-logo {
    margin-left: 35px; }
  .nav__item a {
    font-size: 2.2rem; }
    .nav__item a:hover {
      font-size: 2.5rem;
      padding: 10px;
      text-shadow: 0px 0px 10px #ffffff; }
  .Logo {
    width: 400px; }
  .main-art {
    width: 80%;
    margin-top: 240px; }
  .main-contacto {
    width: 100%;
    margin: 200px 0; }
  .contenedor-formulario {
    width: 60%; }
    .contenedor-formulario form {
      width: 80%; } }

@media (min-width: 1547px) {
  .contendero-elementosnav {
    margin-right: 200px; } }
