@import "variables";

@media (min-width: map-get($breackPoints, minimo)) 
    //Header
    .contendero-elementosnav
        width: 70%;
        transition: all 1s;
    .Logo
        width: 210px;
        margin: 15px 0 0 15px;
        box-shadow: 0px 0px 10px #000000;
        border-radius: 5px;
        
    .bar-btn
        margin-right: 60px

    //footer
    .contenedor-footer
        justify-content: space-around;
        p
            font-size: 1.2rem;
        img
            width: 35px
            margin-left: 5px;
    
    //main
    h1
        font-size: 5rem;
    h2
        font-size: 3rem;

    //articulo
    .main-art
        width: 80%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    
    .item
        width: 80%;
    
    //contacto
    .contenedor-formulario
        form
            width: 80%;
        div
            width: 100%;
        input
            width: 100%;
    
    //sobreNosotros
    .main-sobreNosotros
        width: 80%;


@media (min-width: map-get($breackPoints, medio-min)) 
    //Header
    .contendero-elementosnav
        width: 50%;
        
    .Logo
        width: 300px;

    .bar-btn
        margin-right: 80px
    //footer
    .contenedor-footer
        justify-content: center;
        p
            font-size: 1.5rem;
            margin-right: 15px;
        img
            width: 35px
            margin-left: 5px;
    
    //main
    h1
        font-size: 6rem;
    h2
        font-size: 4rem;
    
    //articulo
    .main-art
        width: 75%;
        justify-content: center;
    
    .item
        width: 40%;
        margin: 0 5px;
    
    //contacto
    .contenedor-formulario
        width: 80%;
        margin: 0 auto;
        form
            width: 60%;

    //sobreNosotros
    .main-sobreNosotros
        width: 60%;
        margin-top: 200px;
        p
            font-size: 2rem;
 

@media (min-width: map-get($breackPoints, media-max)) 
    //Header
    header
        width: 80%;
        left: 0;
        right: 0;
        top: -300px;
        padding-top: 300px;
    .contendero-elementosnav
        width: 100%;
        height: auto;
        position: static;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        border: none;
        justify-content: right;
        transition: none;
        margin: 18px 15px 0 0;
        background: none

    .nav__item
        a
            font-size: 1.8rem;
    
    .solapa
        display: none;
    
    .solapita
        display: none;
    
    .bar-btn
        display: none;

    //main
    h1
        font-size: 10rem;
    h2
        font-size: 4rem;
    
    .carousel-contenedor
        padding-top: 200px;
        width: 60%;
        margin: 0 auto;
    

    //contacto
    .contenedor-formulario
        width: 80%;
        margin: 150px auto;

@media (min-width: map-get($breackPoints, grande-min)) 
    //Header
    header
        top: -320px;
        padding-top: 320px;
    .contendero-elementosnav
        margin: 15px 80px 0 0;
    .Contenedor-logo
        margin-left: 35px;

    .nav__item
        a
            font-size: 2.2rem;
            &:hover
                font-size: 2.5rem;
                padding: 10px;

                text-shadow: 0px 0px 10px #ffffff;
    .Logo
        width: 400px;
    
    //articulo
    .main-art
        width: 80%;
        margin-top: 240px;

    //contacto
    .main-contacto
        width: 100%;
        margin: 200px 0;
    
    .contenedor-formulario
        width: 60%;
        form
            width: 80%;


@media (min-width: map-get($breackPoints, grande-max)) 
    //Header
    .contendero-elementosnav
        margin-right: 200px;
            