.contenedor-formulario{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-formulario form{
    width: 80%;
    height: auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #eed5b6;
}

.contenedor-formulario label{
    font-size: 2.5rem;
    text-shadow: 0 0 2px white;
    font-family: 'Special Elite', cursive;
    margin-bottom: 5px;
}

.contenedor-formulario div{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.contenedor-formulario input{
    width: 40%;
    height: 5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

.contenedor-formulario textarea{
    width: 100%;
    height: 15rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 480px){
    .contenedor-formulario form{
        width: 100%;
    }
    .contenedor-formulario div{
        width: 100%;
    }
    .contenedor-formulario input{
        width: 100%;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px){
    .contenedor-formulario form{
        width: 80%;
    }
    .contenedor-formulario div{
        width: 100%;
    }
    .contenedor-formulario input{
        width: 100%;
    }
}
@media screen and (min-width: 768px) and (max-width: 808px){
    .contenedor-formulario form{
        width: 60%;
    }
    .contenedor-formulario div{
        width: 100%;
    }
    .contenedor-formulario input{
        width: 100%;
    }
}