*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    background-image: url("https://i.ibb.co/3SSwhs9/brown-texture.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    position: fixed;
    top: -250px; 
    padding-top: 250px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: top;
    width: 80%;
    margin: 0 auto;
    height: 600px;
    background-image: url("https://i.ibb.co/ckrVZrb/pngwing-com-1.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Contenedor-logo{
    width: 40%;
    height: 30px;
    margin: 25px;
}
.Logo{
    width: 400px;
    margin:15px;
    box-shadow: 0px 0px 10px #000;
}
.navegador {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
    margin: 35px 60px 0 0;
}
.contendero-elementosnav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.contendero-elementosnav li{
    display: inline-block;
    text-align: center;
    margin: 0 20px;
}
.contendero-elementosnav li a {
    font-size: 3rem;
}





a{
    color: black;
    font-size: 3rem;
    font-family: 'Special Elite', cursive;
    text-decoration: none;
}

/* Footer */

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
}
.contenedor-footer{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(109, 141, 134);
}

.contenedor-footer img{
    width: 25px;
    margin-left: 10px;
}

.contenedor-footer p{
    font-size: 2rem;
    font-family: 'Special Elite', cursive;
    color: black;
    margin-right: 30px;
}

.contenedor-footer ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Media querie hasta 480px */

@media screen and (max-width: 480px){
    header {
        position: fixed;
        top: -350px; 
        padding-top: 350px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 600px;
        background-image: url("https://i.ibb.co/ckrVZrb/pngwing-com-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
    }
    nav{
        display: none;
    }
    .Contenedor-logo{
        width: auto;
        margin: 0;
        height: 30px;
    }
    .Logo{
        width: 300px;
        margin: 15px 0 0 0;
    }
 
}

/* Media querie de 480px hasta 768px */

@media screen and (min-width: 480px) and (max-width: 768px){
    header {
        position: fixed;
        top: -350px; 
        padding-top: 350px;
        display: flex;
        width: 100%;
        margin: 0 auto;
        height: 600px;
        background-image: url("https://i.ibb.co/ckrVZrb/pngwing-com-1.png");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        justify-content: center;
    }
    nav{
        display: none;
    }
    .Contenedor-logo{
        width: auto;
        margin: 0;
    }
    .Logo{
        width: 300px;
        margin: 15px 0 0 0;
    }
    /*No me parece necesario tocar nada*/
}

/* Media querie de 768px a 808px */

@media screen and (min-width: 768px) and (max-width: 808px){
    header {
        top: -300px;
        padding-top: 300px;
    }
    /*No me parece necesario tocar nada*/
    .Contenedor-logo{
        width: auto;
        margin: 25px 0 0 25px;
    }
    .Logo{
        width: 200px;
        margin: 15px 0 0 0;
    }



    nav {
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: center;
        margin: 25px 0 0 0;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        display: inline-block;
        text-align: center;
    }
    li a {
        font-size: 2rem;
    }
}

/* Media querie de 808px a 952px */

@media screen and (min-width: 808px) and (max-width: 952px){
    header {
        top: -300px;
        padding-top: 300px;
    }
    /*No me parece necesario tocar nada*/
    .Contenedor-logo{
        width: auto;
        margin: 25px 0 0 25px;
    }
    .Logo{
        width: 200px;
        margin: 15px 0 0 0;
    }


    nav {
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: center;
        margin: 25px 0 0 0;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        display: inline-block;
        text-align: center;
    }
    li a {
        font-size: 2.3rem;
    }
}

/* media queries de 952px a 1279px */

@media screen and (min-width: 952px) and (max-width: 1279px){
    header {
        top: -300px;
        padding-top: 300px;
    }
    /*No me parece necesario tocar nada*/
    .Contenedor-logo{
        width: auto;
        margin: 25px 0 0 25px;
    }
    .Logo{
        width: 300px;
        margin: 15px 0 0 0;
    }

    nav {
        display: flex;
        width: 100%;
        height: 100px;
        justify-content: center;
        margin: 25px 0 0 0;
    }
    ul{
        display: flex;
        justify-content: center;
    }
    li{
        display: inline-block;
        text-align: center;
    }
    li a {
        font-size: 2.3rem;
    }
}

