@font-face{
    font-family: 'Playlist';
    src: url('../estaticos/fuentes/Playlist\ Script.otf');
    font-style: normal;
    font-weight: normal;
}


h1 {
    font-size: 5.2rem;
    font-family: 'Playlist', sans-serif;
    font-weight: normal;
    text-shadow: 2px 2px 2px white;
}
.tituloDeLaPagina{
    width: 100%;
    text-align: center;
    padding-top: 50px;
}

h2{
    font-family: 'Special Elite', cursive;
    font-size: 2rem;
    margin-bottom: -18px;
    text-shadow: 2px 2px 2px white;
}

.carousel-contenedor{
    padding-top: 150px;
    background-color: rgb(154, 200, 189);
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    grid-auto-rows: auto;
    align-items: center;
    justify-items: center;
    box-shadow: 5px 0px 15px #000;
    padding-bottom: 150px;
}
.articulo-principal{
    width: 90%;
    height: 100%;
    padding-top: 10px;
}
.articulo-principal .articulo-destacado{
    width: 100%;
    height: auto;
    margin: 15px auto;
}

/* Tengo que buscar las imagenes correctas*/
.articulo-destacado img {
    width: 100%;
    height: 100%;
    box-shadow: 5px 0px 55px #000;
}
/* Luego, cuando entienda como hacer un carousel, voy a seguir con estos estilos. */

@media screen and (min-width: 480px) {
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 3rem;
    }
}

@media screen and (min-width: 770px) {
    h1{
        font-size: 10rem;
    }
    h2{
        font-size: 4rem;
    }
    .tituloDeLaPagina{
        padding-top: 110px;
    }
    .articulo-principal .articulo-destacado{
        width: 80%;
        margin: 15px auto;
    }
}

@media screen and (min-width: 1024px){
    .articulo-principal .articulo-destacado{
        width: 60%;
        margin: 15px auto;
    }
}